default_language_version:
    python: python3.9
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
        exclude: .*_template\.yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.9

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black-jupyter
        language_version: python3.9

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies:
        - "pydantic>=1.10.4"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
        exclude: poc/explore.ipynb

  # - repo: https://github.com/econchick/interrogate
  #   rev: 1.5.0
  #   hooks:
  #     - id: interrogate
  #       args: [--fail-under=80, --verbose]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
    -   id: blacken-docs
        additional_dependencies:
        - black==22.12.0

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: "detect-secrets"
        args: ["--exclude-files", '.*\.ipynb$']
      - id: detect-secrets
        name: "detect-secrets-jupyter"
        args:
          [
            "--exclude-files",
            ".*[^i][^p][^y][^n][^b]$",
            "--exclude-lines",
            '"(hash|id|authorship_tag|image/\w+)":.*',
          ]
