accelerate==0.25.0
aihero-research-config
bitsandbytes==0.41.3.post2
datasets==2.14.6
einops==0.7.0
fire==0.5.0
minio==7.2.0
numpy==1.26.4
peft==0.7.1
pydantic-settings==2.0.3
python-dotenv==1.0.1
PyYAML==6.0.1
scikit-learn==1.4.0
scipy==1.11.3
transformers==4.36.1
trl==0.7.7
types-PyYAML==6.0.12.12
wandb==0.15.12
