transformers==4.35.0
peft==0.5.0
bitsandbytes==0.41.1
accelerate==0.22.0
trl==0.7.2
pydantic-settings==2.0.3
scipy==1.11.3
PyYAML==6.0.1
datasets==2.14.6
einops==0.7.0
wandb==0.15.12
python-dotenv
minio
fire
types-PyYAML
