name: Docker Image Creation
on:
  push:
    branches: [ "*" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: rparundekar/fine_tune_research:${{ github.sha }}
          cache-to: |
            rparundekar/fine_tune_research:cache
            type=registry,ref=rparundekar/fine_tune_research
          cache-from: |
            rparundekar/fine_tune_research:cache
            type=registry,ref=rparundekar/fine_tune_research
